#signin{
    background-color: lightgrey;
    color: white;
    width: fit-content;
    border-radius: 5%;
    border: 4px solid black;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 10%;
    margin-top: 15%;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
}

h2{
    background-color: orange;
    margin-left: -50%;
    margin-right: -50%;
    padding: 5%;
    font-size: 30px;
    font-weight: bold;
}

.submit{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 5%;
    font-weight: bold;
    text-align: center;
    transition: all;
}

.submit:hover{
    transform: translateY(-5px);
    border: 3px solid white;
    transition: 3ms;
}

input{
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1.5px solid black;
}

nav{
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-align: center;
    font-size: larger;

}

