nav{
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-align: center;
    font-size: larger;

}

#details{
    text-align: center;
}

input{
    padding: 5px;
    border: 1px solid black;
}

input.error {
    border-color: red;
}

span{
    font-size: small;
    color: red;
}