nav{
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-align: center;
    font-size: larger;

}